.mainContainer {
  position: relative;
}

.child {
  left: 50%;
  padding: 1em;
  background-color: #0d29ff;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.formSize {
  min-width: 2em;
  max-width: 2em;
}

.fullWidth {
  width: 100%;
}

h1 {
  color: #ffff0d;
}

.buttonCollor {
  color: #ffff0d;
}
