.mainContainer {
  display: block;
}
.buttonAdd {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 auto;
  button{
    margin-right:5em;
  }
}

.update{
  display: flex;
  margin-left:2em;
  margin-right:2em;
}

.title {
  color: #0d29ff;
  padding-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 auto;
  h1 {
    font-size: 2.5em;
  }
}

.listViewContainer {
  margin-top: 5em;
  margin-right:5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 auto;
  height: 35px;
}
.table {
  width: 50em;
}

.deleteButton{
background-color: red;
}

.updateButton{
  background-color: green;
  }
